@page "/generos/crear"
@inject NavigationManager navmanager;
@inject IRepositorio repositorio
@inject SweetAlertService swal

<h3>Crear Genero</h3>
<FormularioGenero @ref="formularioGenero" Genero="genero" OnValidSubmit="Crear" />

@code {
    private Genero genero = new Genero();
    private FormularioGenero? formularioGenero;

    private async Task Crear()
    {
        var httpResponse = await repositorio.Post("api/generos", genero);
        if(httpResponse.Error)
        {
            await swal.FireAsync("Error", "Hubo un Error", SweetAlertIcon.Error);
        }
        else
        {
            formularioGenero!.posted = true;
            navmanager.NavigateTo("generos");
        }

    }
}