@page "/peliculas/buscar"
@inject IRepositorio repositorio

<h3>Filtro Peliculas</h3>

<div class="row g-3 align-items-center mb-3">
    <div class="col-sm-3">
        <input type="text" class="form-control" id="titulo" placeholder="Titulo Pelicua"
        @bind-value="titulo" @bind-value:event="oninput"
        @onkeypress="@((KeyboardEventArgs e) => TituloKeyPress(e))"
        />
    </div>
    <div class="col-sm-3">
        <select class="form-select"
        @bind="generoSeleccionado">
            <option value="0"> -- Seleccione un Genero --</option>
            @foreach (var item in generos)
            {
                <option value="@item.Id">@item.Nombre</option>
            }
        </select>
    </div> 

    <div class="col-sm-6 d-flex">
        <div class="form-check me-2">
            <input type="checkbox" class="form-check-input" id="estrenos" @bind="futurosEstrenos" />
            <label class="form-check-label" for="estrenos">Futuros Estrenos</label>
        </div>
        <div class="form-check me-2">
            <input type="checkbox" class="form-check-input" id="cartelera" @bind="enCartelera" />
            <label class="form-check-label" for="cartelera">En Cartelera</label>
        </div>
        <div class="form-check me-2">
            <input type="checkbox" class="form-check-input" id="masVotadas" @bind="masVotadas" />
            <label class="form-check-label" for="masVotadas">Mas Votadas</label>
        </div>
    </div>

    <div class="col-12">
        <button type="button" class="btn btn-primary" @onclick="CargarNuevasPeliculas">Filtrar</button>
        <button type="button" class="btn btn-danger" @onclick="LimpiarOnClick">Limpiar</button>
    </div>
</div>

<ListadoPeliculas Peliculas="Peliculas"></ListadoPeliculas>
@code {
    private string titulo = "";
    private string generoSeleccionado = "0";
    private List<Genero> generos = new List<Genero>();
    private bool futurosEstrenos = false;
    private bool enCartelera = false;
    private bool masVotadas = false;
    private List<Pelicula>? Peliculas;

    protected override void OnInitialized()
    {
        Peliculas = repositorio.ObtenerPeliculas();
    }

    private void TituloKeyPress(KeyboardEventArgs e)
    {
        if(e.Key == "Enter")
        {
            CargarNuevasPeliculas();
        }
    }

    private void CargarNuevasPeliculas()
    {
        Peliculas = repositorio.ObtenerPeliculas()
        .Where(x => x.Titulo.ToLower().Contains(titulo.ToLower())).ToList();
    }

    private void LimpiarOnClick()
    {
        Peliculas = repositorio.ObtenerPeliculas();
        titulo = "";
        generoSeleccionado = "0";
        futurosEstrenos = false;
        enCartelera = false;
        masVotadas = false;
    }
}
