@page "/actores/editar/{ActorId:int}"

<div>Editar Actor</div>

<FormularioActores Actor="Actor" OnValidSubmit="Editar"/>

@code {
    [Parameter] public int ActorId { get; set; }
    Actor Actor = new Actor();

    protected override void OnInitialized()
    {
        Actor = new Actor
        {
                Id = ActorId,
                Nombre = "Felipe",
                FechaNacimiento = DateTime.Today
        };
    }

    void Editar ()
    {
        Console.WriteLine("Editando al actor");
    }
}